.listCoinMain{
    width: 96%;
    margin: 30px auto;
    min-height:100vh;
    border:1px solid #0B1F36;
    border-radius: 15px;
    color: grey;
    padding: 25px;
    padding-top: 20px;
    background-color: #071323;
    margin-bottom: 20px;
    color: white;
    box-sizing: border-box;
    display:'flex';
    flex-direction: column;
    justify-content: space-around;
}

.lefthandList,.righthandList{
    width: 50%
}

.rightandLeftholder{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    padding-top: 15px;
}

.divforListInput{
        width: 90%;
        margin-bottom: 20px;
}

.enlist{
    text-align:center;
    padding-left:5%;
    font-size:35px;
    letter-spacing:2px
}
.buttonForSign{
    background-image: linear-gradient(
        to right,
        #708AF4,
        #455596

    );
    border-radius: 10px;
    width: 60%;
    color: white;
    height:40px;
    margin: 0 auto;
  }

  .desc-style{
    margin-left: 17px;
    margin-top: 15px;
  }

  .asterix{
    font-size: 30px;
    color: red;
}


  @media (max-width:900px){
    .listCoinMain{
        height:auto;

    }

    .enlist{
        font-size: 25px;
    }

    .desc-style{
        margin-left: 0px;
      }
  }


::-webkit-calendar-picker-indicator {
    filter: invert(1);
}














@media(max-width: 950px){
    .divforListInput{
        width: 90%;
        margin: 10px auto;
        margin-bottom: 20px;
}

.lefthandList,.righthandList{
    width: 100%
}

.rightandLeftholder{
    display: block;
    width: 98%;
    padding: 1%;
    box-sizing: border-box;
    padding-top: 15px;
    box-sizing: border-box; 
}

}