.signinholder{
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing:border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    display: none;
}



.explore{
    height:100%;
    text-align:center;
    display:flex;
    align-items:center;
}