.signinholder{
    height:85vh;
    width:90vw;
    margin:0px 0px;
    position: relative;
    box-sizing:border-box;
    display: flex;
    justify-content: left;
    align-items: center;
}



.explore{
    height:100%;
    text-align:center;
    display:flex;
    align-items:center;
}