.signoverall{
    width:100%;
    height:calc(100vh-80px);
    margin:30px auto;
    margin-bottom: 0px;
    
    
}


.authsection{
    height:calc(100vh-80px);
    width:100%;
    margin:30px auto;
    padding:50px;
    padding-top:20px;
    background-color:#05101c;
    box-sizing:border-box;
    
  }


  .secondmain{
    width: 100%;
    height:100%;
    display:flex;
    justify-content:space-between;
    box-sizing:border-box
  }

  .leftsideauth{
    width:30%;
    height:100%;
    position:relative;
    overflow: hidden;
  }


  .upperrightauth{
    width: 100%;
    height:auto
  }

  .lowerrightauth{
    width: 100%;
    height:auto
  }


  .backdivinner{
    height: 30px;
    margin-top:25px;
    color:white;
    display:flex;
    justify-content:left;
    margin-left: 5%;
  }


  .rightsideauth{
    width:60%;
    color:white;
    height:100%;
    background-image: linear-gradient(to right,#05101c,#0d213a);
    border-radius:0px 10px 10px 0px
  }

  .secondrightauth{
    width:100%;
    height:70%;
    margin:40px auto;
    box-sizing:border-box
  }

  .lowerrightone{
    width:100%;
    margin-top:35px;
    display:flex;
    justify-content:space-between
  }

  .lowerrightonesection{
    width:50%;
    height:60px;
    text-align:
    left;
    position:relative
  }

  .sectioninput{
    letter-spacing:1.5px;
    font-size:20px;
    position:absolute;
    top:0px;
    left:0px
  }

  .authinput{
    font-family:NexaTextLight;
    position:absolute;
    bottom:0px;
    left:0px;
    background:transparent;
    width:100%;
    height:40px;
    outline:none;
    color:white;
    border:0.5px solid white;
    border-width:0px 0px 0.5px
  }

  .signbutton{
    color:white;
    margin-top:35px;
    width:130px;
    height:40px;
    outline:none;
    border:1px solid #02050a;
    border-radius:9px;
    background-color:#02050a
  }

  .signbuttondiv{
    text-align:left
  }


























.mobilesignin{
    width:100%;
    min-height:100%;
    position:relative;
    display: none;
}

.signinholder{
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing:border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    
    
}



.explore{
    height:100%;
    text-align:center;
    display:flex;
    align-items:center;
}

@media(max-width:650px){
    .signinholder{
        height: 100%;
        width: 100%;
        position: relative;
        box-sizing:border-box;
        display: flex;
        justify-content: left;
        align-items: center;
        display: none;
        
    }

    .mobilesignin{
        display: block;
        height: auto
    }

    .signoverall{
        width:100%;
        height:auto;
        margin:30px auto;
        margin-bottom: 0px;
        
    }
}


/*
@media(max-height:500px){
    .signoverall{
        width:100%;
        height:100vh;
        margin:0px 0px;
        padding-bottom: 170px;
        
    }
}

*/