.tableheader{
    display:flex;
    justify-content: center;
    width:100%;
    background-color: #06101d;
    color:white;
    height: 60px;
    align-items: center;
    border:  2px solid #0b1f36;
    border-width: 2px 2px 0px 2px;
    
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
}

.divforsearchtable{
        width: 350px;
        margin: 10px auto;
        margin-top: 20px
}

.cointopage{
    text-decoration: none;
    color:white
}

.searchandbutton{
    display:flex;
    justify-content: space-between;
    
}


.starholder{
    
    height:100%;
    width:5%;
    display:flex;
    align-items:center;
    justify-content:center;
}


.highlighted{
    font-size:35px;
    margin-bottom:0px;
}

.chain{
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.launch{
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.launchhead{
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.capRank{
    text-align:left;
    padding-left: 60px;
    flex: 1;
    box-sizing: border-box;
}

.change{
    flex: 1;
    text-align:center;
}

.changehead{
    text-align:left;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex: 1;
}

.price{
    text-align: left;
    flex: 1;
    box-sizing: border-box;
}

.headerClass{
    
    width:90%;
    height:auto;
    
    margin:30px auto;
    margin-bottom:0px;
    box-sizing:border-box;
    margin-top: 18px;
    
  
    
    
}

.headerleft{
    width: 20%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px 0px 0px 0px;
}

.headerright{
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.voteheader{
    text-align: center;
    flex: 1;
}

.high-votes{
    width: 16.67%;
}

.tableright{
    width:75%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;
}

.tableleft{
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
    
}

.coinselector{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0px;
    text-align:center;
    padding: 2px 2px ;
    box-sizing: border-box;
    color: grey;
}

.main{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0px;
    text-align:center;
    padding: 2px 2px ;
    box-sizing: border-box;
    color: grey;
}

.main:nth-of-type(odd){
    background: #0d213a    
}
.coinselector:nth-of-type(odd){
    background: #071323;
  }

  .main:nth-of-type(even){
    background: #071323;
  }

  .coinselector:nth-of-type(even){ 
    background: #0d213a
  }

  .main:last-child{
    border-radius: 0px 0px 15px 15px;
  }


.coinselector:last-child{
    border-radius: 0px 0px 15px 15px;
}

@media (max-width: 1300px){
    .capRank{
        display: none;
    }

    .price{
        display: none;
    }

    .tableleft{
        display: flex;
        width: 25%;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        align-items: center;
        box-sizing: border-box;
        
    }

    .tableright{
        width:70%;
        display: flex;
        justify-content:space-around;
        align-items: center;
        position: relative;
    }

    .headerleft{
        width: 25%;
        display: flex;
        justify-content: space-around;
        border-radius: 10px 0px 0px 0px;
    }

    .headerright{
        width: 70%;
        display: flex;
        justify-content: space-around;
    }
}

 
@media (max-width:1100px){
    .changehead{
        display: none;
    }

    .tableleft{
        display: flex;
        width: 33%;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        align-items: center;
        box-sizing: border-box;
        
    }

    .tableright{
        width:68%;
        display: flex;
        justify-content:space-around;
        align-items: center;
        position: relative;
    }

    .headerleft{
        width: 33%;
        display: flex;
        justify-content: space-around;
        border-radius: 10px 0px 0px 0px;
    }

    .headerright{
        width: 68%;
        display: flex;
        justify-content: space-around;
    }
    
}



@media (max-width:950px){
    .searchandbutton{
        display: block
    }

    .starholder{
        right: 0px
    }
    .buttonsabovesearch{
        display:flex;
            width: 80%;
            justify-content: center;
            margin: 30px auto;
            height: 60px;
    }
    .symbol{
        display: none
    }

    
    
    

}


@media (max-width:700px){
    .launch{
        display: none;
    }

    .launchhead{
        display: none;
    }

   

    .coinselector{
        display: flex;
        justify-content: space-around;
        padding: 2px;
    }
    .tablecoinlogo{
        width: 50px;
        height: 50px
    }

    .highlighted{
        font-size:25px;
        margin-bottom:0px
    }

    .tableleft{
        width:40%;
        text-align: left;
        justify-content: center;
        box-sizing: border-box;
    }
    .tableright{
        width: 60%
    }

    .headerleft{
        width: 40%;
        text-align:center;
        box-sizing: border-box;
    }
    
    .headerright{
        width: 60%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    .divforsearchtable{
        width: 70% ;
        margin: 10px auto
    }

    .voteheader{
        width: 50%;
        text-align:center;
        box-sizing: border-box;
    }

    .tableheader{
        display: flex;
        justify-content: space-around;
    }

    .high-votes{
        width: 60%;
    }
    
}

@media (max-width:530px){
    .chain{
        display: none;
    }

    .tableleft{
        width: 60%;
    }
    .tableright{
        width: 40%;
    }
    .headerleft{
        width: 60%
    }
    .headerright{
        width: 40%
    }
}

@media (max-width:380px){
    .tableleft{
        width:60%;
        text-align: left;
        justify-content: center;
        box-sizing: border-box;
    }
    .tableright{
        width: 40%
    }
}

