.footerMain{
    width:100%;
    text-align:center;
    color:white;
    padding:25px;
    background-color:#071321;
    height: 100%;
    box-sizing:border-box;
    display:flex;
    justify-content: space-between;
    
}

.footerFirst{
    
    height:40%;
    margin-top: 0px;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}


.coinex_footer{
    height: 70%;
    text-align:left;
    display:flex;
    margin-top: 20px;
    align-items:center;
    justify-content: center;
}

.footerSecond{
    width: 60%;
    height:100%;
    display:flex;
    justify-content:space-around
}

.footerSecondMain{
    text-align: left;
    margin-bottom: 30px;
}

.footSecondContent{
    text-align: left;
    color: #BABABA;
}

.footerTopic{
    margin-bottom:15px;
    font-size: 20px;
}


.footerThird{

    height:78%;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
}

.footerthirdfirst{
    width:100%;
    height:60%
}

.coinexplorefoot{
    font-size:29px;
    letter-spacing:1.5px
}

.footerthirdfirstpee{
    width:100%;
    text-align:left;
    padding-bottom:0px
}


@media (max-width:950px){
    .footerMain{
        display: flex;
        flex-direction: column;
        min-height:55vh;
        justify-content: space-between;
    }

    .footerFirst{
        display: flex;
        
        width: 100%;
        
    }

    .footerSecond{
        width:100%;
        height:60%;
        display:flex;
        justify-content:space-around
    }    
    
}

@media(max-width:750px){

    .footerMain{
        display: flex;
        flex-direction: column;
        min-height:90vh;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .footerFirst{
       height: 10%;
       margin: 0px;
    }

    .footerthirdfirstpee{
        width:100%;
        text-align:left;
        padding-bottom:0px
    }
    .footerSecond{
        width:100%;
        height:60%;
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        margin-top: 30px;
    }    

    .footerSecondMain{
        width: 100%;
    }

    .footerTopic{
        margin-bottom:10px;
        text-align: left;
    }

    .footSecondContent{
        width: 100%;
        display: block
    }
    .coinexplorefoot{
        font-size:23px;
        letter-spacing:1.5px
    }

    .footerthirdfirst{
        width:100%;
        height:auto
    }
    
}