.clicktovote{
    background-color: rgb(10, 24, 41);
    font-size: 24px;
    padding: 3.5px;
    border: 2px solid white;
    margin-bottom: 40px;
    border-radius: 15px;
    width: 200px;
    margin: 0 auto;
    color: white;
    margin-bottom: 40px;
}

.textholdercoinfile{
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white
}

.coinfileheader{
        height: 45vh;
        width: 70%;
        display: flex;
        justify-content: space-around;
        margin:20px auto;
        transition: opacity 1s ease;
}


.clicktovote:hover{
    background-color: orangered;
    transition: 1s;
    cursor: pointer;
}


@media(max-width: 750px){
    .coinfileheader{
        height: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin:20px auto;
        transition: opacity 1s ease;
}

.textholdercoinfile{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
  
}
}




/*
 @media(max-width:850px){
    .authsection{
      min-height:100vh;
      width:100%;
      margin-top:30px;
      background-color:#05101c;
      box-sizing:border-box;
      background-image: url('./imagesforauth/worldforsigning.jpg');
      background-size: contain;
    }
    .mainbackgroundimg{
     display: none;
    }
    .secondimgholder{
      display: none;
    }

    .leftsideauth{
      width:100%;
    height:100%;
    position:relative;
    border-radius: 10px 0px 0px 10px;
      overflow:hidden
      
    }

    .secondmain{
      position:relative
    }

    .rightsideauth{
      position:absolute;
      bottom:0px;
      left:0px;
      width:100%;
      color:white;
      height:60%;
      background-color: #05101c;
      border-radius:15px 15px 0px 0px
    }
  }

*/