.holderdiv{
box-sizing:border-box;
width:80%;
margin:40px auto;
height:80vh;
display:flex;
justify-content:space-between;
padding: 20px

}

.firstdivindiv{
  width:40%;
  border-radius:10px;
  height:100%;
  border:2px solid #0B1F36;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  background: linear-gradient(180deg, #05101C 0%, #040B15 100%);
  padding: 20px;
}

.seconddivindiv{
width:50%;
border-radius:10px;
height:100%;
border:2px solid #0B1F36;
background: linear-gradient(180deg, #05101C 0%, #040B15 100%)
}

.spanforp{
  color: grey;
}

.sectionwithicons{
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content:space-between
}

.logosholder{
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.barguy{

  width:0.5px;
  height:100%;
  background-color:grey
}
.valueindolls{
color: #BABABA;
letter-spacing:1.5px
}

.coinformobile{
  box-sizing:border-box;
  width:90%;
  flex-direction: column;
  margin:40px auto;
  height: auto;
  justify-content:space-between;
  display: none;
}


.logosholdermobile{
  width: 90%;
  margin: 20px auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.sectionwithiconsmobile{
  flex-direction: column;
  width:90%;
  margin: 0px auto;
  margin-top: 20px;
}

.seconddivindivmobile{
  width: auto;
  margin: 0px auto;
  padding:5px;
  box-sizing: border-box;
}



@media(max-width:950px){

  .coinformobile{
    display: flex;
  }

  .holderdiv{
    box-sizing:border-box;
    width:90%;
    flex-direction: column;
    margin:40px auto;
    height: auto;
    display:none;
    justify-content:space-between;
    
    border: 2px solid green
    
    }

  .barguy{
    display: none
  }

  .firstdivindiv{
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 30px;
  }

  .spanforp{
    color:grey;
    display: block;
  }

  

  

  
  .valueindolls{
    margin: 20px;
    text-align: left;
    margin-left: 0px;
  }
}




















.clicktovote{
    background-color: rgb(10, 24, 41);
    font-size: 24px;
    padding: 3.5px;
    border: 2px solid white;
    margin-bottom: 40px;
    border-radius: 15px;
    width: 200px;
    margin: 0 auto;
    color: white;
    margin-bottom: 40px;
}

.textholdercoinfile{
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white
}


.coinfileheader{
        height: 70vh;
        width: 90%;
        margin:'30px auto';
        background: linear-gradient(180deg, #05101C 0%, #040B15 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin:20px auto;
        transition: opacity 1s ease;
}


.clicktovote:hover{
    background-color: orangered;
    transition: 1s;
    cursor: pointer;
}


@media(max-width: 750px){
    .coinfileheader{
        height: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin:20px auto;
        transition: opacity 1s ease;
}

.textholdercoinfile{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
  
}
}




/*
 @media(max-width:850px){
    .authsection{
      min-height:100vh;
      width:100%;
      margin-top:30px;
      background-color:#05101c;
      box-sizing:border-box;
      background-image: url('./imagesforauth/worldforsigning.jpg');
      background-size: contain;
    }
    .mainbackgroundimg{
     display: none;
    }
    .secondimgholder{
      display: none;
    }

    .leftsideauth{
      width:100%;
    height:100%;
    position:relative;
    border-radius: 10px 0px 0px 10px;
      overflow:hidden
      
    }

    .secondmain{
      position:relative
    }

    .rightsideauth{
      position:absolute;
      bottom:0px;
      left:0px;
      width:100%;
      color:white;
      height:60%;
      background-color: #05101c;
      border-radius:15px 15px 0px 0px
    }
  }

*/