.headerwrapper{
    width:100%;
    min-height:50px;
    display:flex;
    background-color:  #071321;
    box-shadow: 10px 2px 15px black;
    box-sizing: border-box;
}

.headercontainer{
    padding: 5px 20px;
    width: 100%;
    color: white;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    height: 100%;
   
}

.logoandtitleholder{
    display:flex;
    justify-content:left;
    cursor: pointer;
}
.coinexplore{
    height:100%;
    text-align:center;
    display:flex;
    align-items:center
}

.divforcanceler{
    position:fixed;
    top:0px;
    right:0px;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: 2000;
}

.hamburgerinactive{
    text-decoration:none;
    color:white
}

.hamburgeractive{
    color: grey;
    text-decoration:none;
}

.lister{
    width:40%;
    display:flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.list:hover{
    color: grey;
    cursor: pointer;
}
.menuholder{
    height: 100%;
    justify-content: center;
    align-items: center;
    display:none;
    padding-top: 10px;
}



.hambugholder{
    background-color: rgb(6, 16, 28);
        width:0%;
        display: none;
        height:170px;
        list-style:none;
        position:absolute;
        right:0px;
        top:10vh;
        padding:0px;
        border:1px solid black;
        z-index:100;
        transition-property: top;
        transition-duration: 1.5s;
}

.searchholder{

    width:350px;
    height:10vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.searchcoinsmenu{
    position:absolute;
    
    width:135%;
    height:auto;
    top:0%;
    left:0px;
    background-color: rgb(6, 16, 28);
    border-radius: 10px;
    display:block;
    z-index: 100;
    box-shadow: 10px 2px 15px black;
    box-sizing: border-box;
}

input#menu{
    display: none;
}





@media(max-width:1450px){
    .lister{
        width:40%;
        display:flex;
        justify-content: space-between;
        list-style: none;
        align-items: center;
    }
}

@media(max-width:1400px){
    .searchcoinsmenu{
        position:fixed;
        width:100vw;
        height:100%;
        top:0%;
        left:0px;
        background-color: rgb(6, 16, 28);
        border-radius: 10px;
        display:block;
        z-index: 100;
        box-shadow: 10px 2px 15px black;
    }

}


@media(max-width: 1250px){

 .lister{
     display: none;
 }

 .menuholder{
     display: flex;
 }

 .headerwrapper{
     display:block
 }

 
}

@media(max-width: 800px){
    .coinexplore{
        display: none;
    }

    .searchholder{
        height: 100%;
        width:70%;
        margin: 10px auto;    
    }

   
    .headercontainer{
        padding: 5px 5px;
        width: 100%;
        color: white;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        height: 100%;
    }
}
    
