.headerwrapper{
    width:100%;
    min-height:10vh;
    display:flex;
    background-color: rgb(10, 24, 41) 
}

.headercontainer{
    padding: 5px 20px;
    width: 100%;
    color: white;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    height: 100%;
}

.lister{
    width:40%;
    display:flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.list:hover{
    color: grey;
    cursor: pointer;
}
.menuholder{
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    display:none;
    padding-top: 10px;
}

.hamburgli{
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    list-style-type: none;
}

.hamburgli:hover{
    color: white;
    cursor: pointer;
    transition: 1s;
}
.cancel{
    display: none;
}

.hambugholder{
    background-color: rgb(6, 16, 28);
        width:0%;
        display: none;
        height:170px;
        list-style:none;
        position:absolute;
        right:0px;
        top:10vh;
        padding:0px;
        border:1px solid black;
        z-index:100;
        transition-property: top;
        transition-duration: 1.5s;
}

.searchholder{

    width:350px;
    height:10vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.searchcoinsmenu{
    position:absolute;
    width:100%;
    height:auto;
    top:100%;
    left:0px;
    background-color: rgb(6, 16, 28);
    border-radius: 10px;
    display:block;
    z-index: 100;
    border: 1px solid white;
    border-top: 0px;
}

input#menu{
    display: none;
}

.menuicon:checked ~.hambugholder{
    background-color: rgb(6, 16, 28);
        width:85%;
        height:170px;
        list-style:none;
        position:absolute;
        right: 0px;
        top:10vh;
        padding:0px;
        border:1px solid black;
        z-index:100;
        display: block;
        
}

.menuicon:checked ~.cancel{
   display: block;
}

.menuicon:checked ~.open{
    display: none;
 }


@media(max-width:1450px){
    .lister{
        width:50%;
        display:flex;
        justify-content: space-between;
        list-style: none;
        align-items: center;
    }
}



@media(max-width: 1250px){

    .headerwrapper{
        width:100%;
        min-height:10vh;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(10, 24, 41);
        padding-bottom: 20px;
    }
 .lister{
     display: none;
 }
 .logoandtitleholder{
     width:100%;
     justify-content: space-around;
 }
 .menuholder{
     display: flex;
 }

 .headerwrapper{
     display:block
 }

 .searchholder{
    height: 100%;
    width:90%;
    margin: 10px auto;
    
    
}
}
    
