.headercontainer{
    background-color: rgb(1, 1, 39);
    padding: 5px 20px;
    width: 100%;
    color: white;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    height: 10vh;
}

.lister{
    width:40%;
    display:flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.list:hover{
    color: grey;
    cursor: pointer;
}
.menuholder{
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    display:none;
}

.hamburgli{
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    list-style-type: none;
}

.hamburgli:hover{
    color: white;
    cursor: pointer;
    transition: 1s;
}
.cancel{
    display: none;
}

.hambugholder{
    background-color: rgb(1, 1, 39);
        width:0%;
        display: none;
        height:170px;
        list-style:none;
        position:absolute;
        right:0px;
        top:10vh;
        padding:0px;
        border:1px solid black;
        z-index:100;
        transition-property: top;
        transition-duration: 1.5s;
}

input#menu{
    display: none;
}

.menuicon:checked ~.hambugholder{
    background-color: rgb(1, 1, 39);
        width:85%;
        height:170px;
        list-style:none;
        position:absolute;
        right: 0px;
        top:10vh;
        padding:0px;
        border:1px solid black;
        z-index:100;
        display: block;
        
}

.menuicon:checked ~.cancel{
   display: block;
}

.menuicon:checked ~.open{
    display: none;
 }






@media(max-width: 1150px){
 .lister{
     display: none;
 }
 .logoandtitleholder{
     width:100%;
     justify-content: space-around;
 }
 .menuholder{
     display: flex;
 }
}
    
