body{
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  background: #05101c;
  scroll-behavior: smooth;
  position: relative;
  font-family: "NexaTextBold";  
}



.gainers{
  margin-top:30px;
  font-size:35px;
  color:white;
  margin-top:150px
}


.banner{
  margin-top: 40px;
  min-height:30vh;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center
}

.mainadContent{
  letter-spacing: 2.5px;
  text-align:center;
  font-size:30px;
  color:white;
  margin-top:10px
}

.biggestAds{
  width:40%;
  height:200px;
  left:30%;
  top:40%;
  position:fixed;
  background-color:#708AF4; 
  border-radius: 20px;
  animation-name: bannermove;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}




@media(max-width:870px){

  .mainadContent{
    letter-spacing: 2.5px;
    text-align:center;
    font-size:23px;
    color:white;
    margin-top:10px
  }
   
}

@media (max-width: 700px){
  .banner{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center
  }

  .biggestAds{
    width:80%;
    height:200px;
    left:10%;
    top:40%;
    position:fixed;
    background-color:#708AF4; 
    border-radius: 20px;
  }
  .gainers{
    margin-top:30px;
    font-size:25px;
    color:white;
    margin-top:150px
  }

  
}



@keyframes bannermove{
  from{ transform: translateY(4000px)}
  to{ transform: translateY(0px)}
}