body {
  margin: 0;
}

@font-face {
  font-family: "NexaTextBold";
  src: local("NexaTextBold"),
    url("./NEXAFONTS/OTF/Nexa-Bold.otf") format("truetype");
  font-weight: 500;
}


*{
  margin: 0px;
  padding: 0px;
}



